@import "https://fonts.googleapis.com/css?family=Montserrat";

body{
  font-family: 'Montserrat', sans-serif;
}

header{
  padding-bottom: 80px;
  padding-top: 84px;
  position: relative;
}

header nav{
  background-color: #fff;
  height: 70px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

header nav ul{
  line-height: 70px;
  padding-right: 80px;
  text-align: right;
}

nav ul li a{
  color: #000;
  text-transform: uppercase;
}

header nav h1{
  line-height: 70px;
  margin: 0px;
  margin-left: 30px;
}

header .action img{
  margin: 15px 0px;
  width: 80px;
}

header .action h1{
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.action .btn{
  margin-top: 15px;
  text-transform: uppercase;
}

.servicio{
  padding: 0px 30px;
}

.servicio h3{
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.servicio i{
  font-size: 6em;
  margin-bottom: 15px;
}
